fastapi
uvicorn
python-multipart
starlette
langchain
langchain-core
langchain-community
langchain-groq
langchain-openai
langchain-pinecone
langchain-tavily
langchain-text-splitters
langgraph
langgraph-checkpoint
groq
openai
pinecone
pypdf
python-dotenv
pydantic
httpx
anyio
aiohttp
tenacity
requests
tiktoken
typing_extensions
langchain-pypdf
langsmith
